In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from os import path
import pandas as pd

In [7]:
train = pd.read_csv(path.abspath(path.join('..', 'data', 'train.csv')))

In [14]:
train.target.sum()

112323

In [15]:
train.tail(10)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
599990,599990,0.0,0.0,1.0,F,Y,Red,Polygon,Axolotl,India,...,411d37ac3,1.0,Novice,Freezing,i,E,DI,1.0,5.0,0
599991,599991,1.0,0.0,0.0,T,N,Blue,Triangle,Lion,India,...,2afbf5e88,3.0,Contributor,Warm,f,T,dp,1.0,8.0,0
599992,599992,1.0,0.0,0.0,T,N,Blue,Trapezoid,Hamster,Costa Rica,...,57934b610,2.0,Novice,Freezing,d,K,xF,7.0,12.0,0
599993,599993,0.0,1.0,0.0,F,N,Green,Triangle,Dog,Russia,...,a36361110,3.0,Contributor,Freezing,n,T,iv,7.0,12.0,0
599994,599994,0.0,0.0,0.0,T,Y,Red,Triangle,NaN,China,...,b04d90dad,3.0,Grandmaster,Cold,f,F,dp,3.0,11.0,0
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,Freezing,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,Boiling Hot,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,Freezing,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,Warm,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,Boiling Hot,b,O,uI,5.0,8.0,0

In [17]:
train.nunique()

id        600000
bin_0          2
bin_1          2
bin_2          2
bin_3          2
bin_4          2
nom_0          3
nom_1          6
nom_2          6
nom_3          6
nom_4          4
nom_5       1220
nom_6       1519
nom_7        222
nom_8        222
nom_9       2218
ord_0          3
ord_1          5
ord_2          6
ord_3         15
ord_4         26
ord_5        190
day            7
month         12
target         2
dtype: int64

In [18]:
train.isna().sum()

id            0
bin_0     17894
bin_1     18003
bin_2     17930
bin_3     18014
bin_4     18047
nom_0     18252
nom_1     18156
nom_2     18035
nom_3     18121
nom_4     18035
nom_5     17778
nom_6     18131
nom_7     18003
nom_8     17755
nom_9     18073
ord_0     18288
ord_1     18041
ord_2     18075
ord_3     17916
ord_4     17930
ord_5     17713
day       17952
month     17988
target        0
dtype: int64

In [20]:
train[['ord_3', 'target']].groupby('ord_3').mean()

         target
ord_3
a      0.091502
b      0.102891
c      0.113524
d      0.124078
e      0.135513
f      0.151036
g      0.171845
h      0.182082
i      0.196071
j      0.218467
k      0.228524
l      0.246914
m      0.265988
n      0.289383
o      0.309608